*-debug.log
*-error.log
/.nyc_output
/dist
/lib
packages/**/lib
packages/**/dist
/package-lock.json
/tmp
cloud-api-modified
node_modules
private.key
/yarn.lock
.turbo
packages/cli/oclif.manifest.json
.DS_Store
